<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.ui.cs.mobileprogramming.pandeketutcahyanugraha.warcraftinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name=".WarcraftInfoApplication"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/auction_house_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/auction_house_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".soundtrack.ui.SoundtrackActivity" />
        <activity android:name=".auctionhouse.ui.AuctionHouseActivity" />
        <activity android:name=".character.ui.CharacterActivity" />
        <activity android:name=".landing.ui.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.ui.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="taranzhi.cahyanugraha12.site"
                    android:pathPrefix="/api/access_token"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".credits.ui.CreditsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".calculator.ui.CalculatorActivity"
            android:label="@string/app_name">
        </activity>

        <receiver android:name=".auctionhouse.broadcast.AuctionHouseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".auctionhouse.service.AuctionHouseJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".soundtrack.service.SoundtrackPlayerService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
    </application>

</manifest>